.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
}

.header_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
