.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 110px);
  padding: 0 30px;
}

.user_info {
  cursor: pointer;
  position: relative;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  padding: 15px 10px 5px 10px;
  border-radius: 3px;
  box-shadow: 0 2px 17px #eee;
  transition: box-shadow 0.2s linear;
}

.user_info:hover {
  box-shadow: none;
}

.user_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

span {
  font-weight: bold;
}
